<launch>
  <!-- load PR2 specific nodes. this is not necessary as long as the empty gazebo world without PR2 is loaded. -->
  <include file="$(find pr2_nav_pcontroller)/nav_pcontroller.launch"/>
  <include file="$(find pr2_manipulation_process_module)/launch/pr2_manipulation.launch"/>
  
  <!-- odom_combined to map publisher node -->
  <node name="map_to_odom_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 map odom_combined 100"/>

  <node name="occupancy_grid" pkg="octomap_server" type="octomap_server_node">
    <remap from="cloud_in" to="tilt_scan_cloud_filtered2" />
    <remap from="projected_map" to="map" />
  </node>
  
  <!-- load an empty world -->
  <!-- <include file="$(find gazebo_worlds)/launch/empty_world.launch"/> -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch"/>

  <!-- load the semantic map -->
  <!-- <node name="json_prolog" pkg="rosprolog" type="run_with_prolog_env" args="pr2_pick_and_place_scenario $(find json_prolog)/bin/json_prolog" /> -->

  <include file="$(find pr2_pick_and_place_scenario)/launch/spawn_objects.launch"/>
</launch>