<launch>
  <!-- spawn tables -->
  <param name="table_description" textfile="$(find pr2_pick_and_place_scenario)/models/table.urdf" />
  <param name="kitchen_island_description" textfile="$(find pr2_pick_and_place_scenario)/models/kitchen_island.sdf" />

  <node name="spawn_table_1" pkg="gazebo" type="spawn_model"
        args="-urdf -param table_description -x 1.98 -y 0 -z 0 -model table_model_1" />

  <node name="spawn_table_2" pkg="gazebo" type="spawn_model"
        args="-urdf -param table_description -x -1.0 -y -1.66 -z 0 -Y 20 -model table_model_2" />

  <node name="spawn_kitchen_island" pkg="gazebo" type="spawn_model"
        args="-gazebo -param kitchen_island_description -x -0.0 -y -1.60 -z 0.0 -R 0.0 -P 0.0 -Y 1.57 -model kitchen_island" />

</launch>
